@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  background-color: #FF8D40;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  text-align: center;
}

header .title {
  text-transform: uppercase;
  font-size: 1.2em;
  border: 5px solid white;
  padding: 1em;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  overflow-y: scroll;
  background-color: #F6F6F6;
}

nav li a {
  font-weight: 400;
  display: block;
  text-decoration: none;
  padding: 2em;
  font-size: 2em;
  border-bottom: 1px solid #D8D8D8;
  color: #343838;
}

nav li a span {
  font-weight: 300;
  display: block;
  font-size: 1em;
  color: #343838;
  font-style: italic;
}

span.small span {
  font-size: .5em;
  color: #DED9DB;
}

nav li a:hover {
  background-color: rgb(251, 115, 24);
  color: white;
}

nav footer {
  color: #343838;
  text-align: center;
  padding: 1em;
  font-size: 0.7em;
}

@media all and (max-width: 791px) {
  header {
    position: inherit;
    width: 100%;
    top: none;
    left: none;
  }
  header .title {
    border: none;
    padding: 4em;
  }

  nav {
    position: inherit;
    width: 100%;
    top: none;
    right: none;
  }
}
