body {
  background-color: #ffffff;
  background-image: url('http://www.morgangrimshaw.com/ugly_Site/images/anim_blocks.gif');
}

.main-table {
  background-image: url('http://www.morgangrimshaw.com/ugly_Site/images/3d_text_4.gif');
  background-color: #ff00cc;
  border-collapse: collapse;
  border: 10px solid rgb(0, 255, 0);
}

.main-table td{
  border: 10px solid rgb(0, 255, 0);
}

table {
  margin: 0 auto;
}

.secondary-table {
  border-collapse: collapse;
  border: 10px solid red;
}

.secondary-table {
  border: 10px solid red;
}

.center {
  margin: 0 auto;
  text-align: center;
}
